@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  padding: 0px 20px;
}
.bg1{
  background-image: url(./assets/back1.png);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
}
.bg2{
  background-image: url(./assets/bg3.png);
  background-position: center;
  background-size: cover;
  font-family: Arial Rounded MT Bold;
line-height: 50px;
letter-spacing: 0em;
text-align: center;

}